body {
	text-align: center;
	margin: 0px;
  	padding: 0px; 
  	outline: none;
  	border: 0px;
	background-color: #42bfbb;
}
ul {
	text-align: left;
}
#topNav {
	background-color: #0b7976;
	padding-top: 2em;
	padding-bottom: 2em;

}
#topNav a {
	color: white;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 2em;
	padding-bottom: 2em;

}
#topNav a:hover {
	color: black;
	background-color: #7abbf3;
}

.row{
	float: left;
	height: 20em;
}

.padding
{
width:25%;
height:60%;
padding: 0px 10px 10px 0px;
}

.paddingabout
{
width:25%;
height:60%;
padding: 0px 80px 80px 50px;
}

.about{
	text-align: left;
	width: 100%;
	background-color:#b2cade;
	font-family: "Lucida Console", "Courier New", monospace;
}

#footer{
	background-color: #42bfbb;
	color: black;
	padding-bottom: 2em;
}
#footer img {
	width: 75px;
	padding: 30px;
}
p {
	font-size: 1em;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 2em;
}
a {
	color: black;
}

@media screen and (max-width: 900px) {
	#topNav a {
		padding-top: .5em;
		padding-bottom: .5em;
		display: block;
	}
	#topNav {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	#about, #contact {
		padding: 80px;
	}
	.row{
		height: fit-content;
	}
}
#photo {
	width: 100%;
	margin-top: -30px;
}


