body {
	text-align: center;
	margin: 0px;
  	padding: 0px; 
  	outline: none;
  	border: 0px;
	background-color: #42bfbb;
}
ul {
	text-align: left;
}
#topNav {
	background-color: #0b7976;
	padding-top: 2em;
	padding-bottom: 2em;

}
#topNav a {
	color: white;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 2em;
	padding-bottom: 2em;

}
#topNav a:hover {
	color: black;
	background-color: #7abbf3;
}

.row{
	float: left;
	height: 20em;
}


.about{
	text-align: left;
	padding-bottom:5%;
	width: 70%;
	background-color:#b2cade;
	font-family: Arial, Helvetica, sans-serif;
}
.homeside{
	text-align: left;
	width: 30%;
	background-color: #b2cade;
	padding-bottom:5%;
}

.pic{
	padding: 5%;
	width: 40%;
	height: 60%;
}

.padding
{
width:25%;
height:50%;
padding: 0px 10px 10px 10px;
}

#footer{
	background-color: #42bfbb;
	color: black;
	padding-top:2em;
	padding-bottom: 1em;
}
#footer img {
	width: 75px;
	padding: 30px;
}
p {
	font-size: 1em;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.25em;
	padding: 0px 0px 0px 20px
}
h3 {
	font-size: 2em;
}
a {
	color: black;
}

@media screen and (max-width: 900px) {
	#topNav a {
		padding-top: .5em;
		padding-bottom: .5em;
		display: block;
	}
	#topNav {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	#about {
		padding: 40px;
	}
	.row{
		height: fit-content;
	}
}

